<nav>
    <div class="nav-logo"><a href="/">FinLit</a></div>
    <img height="180px" src="/images/FinLitLogo.png" class="logo"/>

    <button class="hamburger" aria-label="Toggle Menu">
        &#9776;
    </button>

    <ul class="main-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>