<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("./components/head") %>
</head>

<body>

	<img height="180px" src="/images/FinLitLogo.png" />
    <div class="navbar">
        <h1>FinLit</h1>
    </div>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

	<main id="main">
		<%- body %>
	</main>

</body>

</html>