@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --bg-darkest: #000814;
    --bg-dark: #001D3D;
    --mg: #003566;
    --fg-light: #FFC300;
    --bg-lighest: #FFD60A;
    --fg-text: ghostwhite;
}

/* Default */
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
    font-optical-sizing: auto;
    font-weight: 475;
    font-style: normal;
}

html, body {
    background-color: var(--bg-darkest);
    color: var(--fg-text);
    scroll-behavior: smooth;
}


nav {
    background-color: var(--bg-dark);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 10px 22px 10px rgba(255,195,0,0.11);
    
}

.nav-logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--fg-text);
}

.nav-logo a {
    color: var(--fg-text);
    text-decoration: none;
}

.logo {
    max-height: 4rem;
}

.main-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline;
}

.main-menu a {
    color: var(--fg-text);
    text-decoration: none;
    font-size: 2rem;
}

.main-menu a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: var(--fg-text);
    cursor: pointer;
}

@media (max-width: 768px) {
    .main-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: var(--bg-dark);
        position: absolute;
        top: 5rem;
        left: 0;
        padding: 1rem 0;
    }

    .main-menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .nav-logo, .logo {
        flex: 1;
    }
    .logo {
        max-height: 4rem;
        max-width: 4rem;
        margin-right: 2rem;
    }
}

.yel {
    color: var(--fg-light);
}